extends AllProducts 

block content 
    h3.m-5 Your Cart 
    table.table.table-hover 
        thead 
            tr 
                th Product image 
                th Product Name 
                th Product Price
        tbody  
            each product in products 
                tr 
                    td
                        img(src=`/img/${product.image}.png` alt='product-img', width=80, height=70)
                    td= product.name 
                    td.fs-4= product.price 
                        a.btn.mx-3(href=`/product/cart/delete/${product._id}`) Delete 
        tfoot 
            tr.fs-4.fw-bold
                td
                td Total Bill
                td=total